{
  "openapi": "3.0.3",
  "info": {
    "title": "FLOW API",
    "version": "1.0.11"
  },
  "paths": {
    "/FLOW_PORTAL_R001.jct": {
      "post": {
        "tags": [
          "FLOW_PORTAL_R001"
        ],
        "summary": "포탈 정보 가져오기",
        "description": "포탈 정보 가져오기",
        "operationId": "포탈 정보 가져오기",
        "requestBody": {
          "description": "포탈 정보 가져오기",
          "content": {
            "application/json": {
              "schema": {
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "FLOW_PORTAL_R001"
        ],
        "summary": "포탈 정보 가져오기",
        "description": "포탈 정보 가져오기",
        "operationId": "포탈 정보 가져오기2",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                }
              }
            }
          },
          "default": {
            "description": "Default error sample response"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://dualserver.flow.team",
      "variables": {},
      "description": "LocalServer"
    }
  ],

}
